<div class="gif-container">
  <div class="cabecera img-fluid" alt="..."></div>
  <div class="text-inside">
    ¡MUEVE TU MUNDO!
  </div>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col-md-5">
      <img src="https://media.tenor.com/nNFp0MT00UgAAAAi/kick-scooter-travel.gif" alt="..." class="imagen2">
    </div>
    <div class="col-md-6 mb-3 ">
      <h2 class="nosotros" id="nosotros">Nosotros</h2>
      <p>¡Bienvenidos a <strong> Tu Patineta</strong> ! 😎🛴 Somos tu opción ideal para vivir la experiencia de movilidad más emocionante en Bogotá. ¿Buscas libertad, diversión y comodidad al alcance de un clic? ¡Estás en el lugar correcto! Con nosotros, alquilar tu patineta eléctrica es fácil, económico y sin complicaciones.🚀 Desde descuentos exclusivos hasta entregas a domicilio, te ofrecemos la manera más cool de moverte por la ciudad. Regístrate hoy mismo y descubre una nueva forma de explorar Bogotá sobre ruedas. ¡Únete a la revolución de la movilidad urbana! 🌟</p>
      <a routerLink="/registrarse" class="btn btn-success">¡Únete a la comunidad!</a>
    </div>
  </div>
</div>
